body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div#main_timer {
    text-align: center;
    background-color: black;
    /* display:block; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div#background {
    background-image: url("");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.4;
    background-color: black;
    margin: 0;
    top: 0;
}

    span#title {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 8em;
    opacity: 0.85;
    }

span#timer {
font-weight: bold;
top: 0;
color: white;
font-family: monospace;
font-size: 15em;
}

p#main_text {
position: absolute;
margin-top: 0;
width: 100%;
z-index: 10;
}

p#credit{
    color: lightgrey;
    z-index: 200;
    position: absolute;
    bottom: 0;
    right: 0;
}

p#credit a {
    color: inherit;
}

div#form_div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: black;
    z-index: 15;
}

#main_form {
    background-color: whitesmoke;
    text-align: center;
    position: absolute;
    top: 1%;
    height: auto;
    left: 24%;
    background-color: #fefefe;
    padding: 1%;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

div#button_div{
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.button {
    background-color: lightgray;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    border: none;
    color:black;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

/* Credit: https://codepen.io/arximughal/pen/LEpoOJ */
.glow_effect {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
0% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
50% { background-color: #15b100; -webkit-box-shadow: 0 0 40px #15b100; }
100% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
}

@-moz-keyframes glowing {
0% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
50% { background-color: #15b100; -webkit-box-shadow: 0 0 40px #15b100; }
100% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
}

@-o-keyframes glowing {
0% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
50% { background-color: #15b100; -webkit-box-shadow: 0 0 40px #15b100; }
100% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
}

@keyframes glowing {
0% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
50% { background-color: #15b100; -webkit-box-shadow: 0 0 40px #15b100; }
100% { background-color: #119200; -webkit-box-shadow: 0 0 3px #119200; }
}

/* Tooltips taken from here: https://www.cssscript.com/pure-html5-css-tooltip-solution/ */
.tool {
    position : relative;
  }
  
  .tool::before, .tool::after {
    position : absolute;
    left : 20%;
    opacity : 0;
    z-index: -100;
  }
  
  .tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {
    opacity : 1;
    z-index: 100;
  }
  
  .tool::before {
    content : " ";
  }
  
  .tool::after {
    font-size: smaller;
    background : #fff9c4;
    border:solid 1px #c9b06a;
    border-radius : .2em;
    bottom : 110%;
    color : black;
    width : 10em;
    padding: 0.2em;
    margin-left : -5em;
    content : attr(data-tip);
  }

  .code-footer {
    display:flex;
    font-size: small;
    padding-top: 3%;
    margin-bottom: -15px;
  }